/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
ingame-ui#TwitchChatPanel {
  display:flex;
  flex-direction:column;
  height:100% !important;
  width: 100% !important;
  font-family: 'Roboto';
}

ingame-ui#TwitchChatPanel img.emoticon {
  max-width: 2rem;
  max-height: 2rem;
  vertical-align: middle;
}

ingame-ui#TwitchChatPanel img.premium,
ingame-ui#TwitchChatPanel img.mod {
  margin-right: 3px;
  vertical-align: middle; 
}

ingame-ui#TwitchChatPanel #TwitchChatPanelList {
  list-style-type: none;
  padding-left: 0;
}

ingame-ui#TwitchChatPanel #TwitchChatPanelList li {
  line-height: 2rem;
  margin-left: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("/Fonts/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}